---
import { getCollection } from "astro:content";
import { ALPHABETS } from "../../../constants.js";
import BaseLayout from "../../layouts/base.astro";
import Navbar from "../../components/navbar.astro";
import Search from "../../components/islands/search.jsx";
import doAuth from "../../lib/actions/do-auth.js";

const dictionary = await getCollection("dictionary");
const { isAuthed } = await doAuth(Astro);
---

<BaseLayout 
  pageTitle="Browse Words"
  class="min-h-screen"
  isAuthed={isAuthed}
>
  <Navbar>
    <Search triggerSize="sm" dictionary={dictionary} client:load />
  </Navbar>

  <main class="max-w-screen-lg p-5 md:mt-10 mx-auto space-y-6">
    <h2 class="text-3xl md:text-5xl font-black">
      Browse Alphabetically
    </h2>
    <div class="flex flex-wrap gap-3" id="whirl-alphas">
      {ALPHABETS.map(alpha => (
        <a 
          href={`/browse/${alpha}/1`} 
          class="no-underline flex h-16 w-16 md:h-20 md:w-20 bg-gray-100 hover:bg-black hover:text-white rounded md:text-lg transition-colors ease-in-out"
        >
          <span class="m-auto">{ alpha.toUpperCase() }</span>
        </a>
      ))}
    </div>
  </main>

  <script>
    import { driver } from "driver.js";
		import "driver.js/dist/driver.css";

    const t = document.querySelector("#whirl-alphas").children[19];

    function run() {
      const driverObj = driver({
        showProgress: true,
        steps: [
          {
            element: "#whirl-alphas",
            popover: {
              title: "Browsing Alphatically",
              description: "Here's all Alphabets which allows you to click and browse for words in the dictionary in an alphabetic order; 😉 and yea we don't have word for all alphabets yet "
            }
          },
          {
            element: t,
            popover: {
              title: "Browse words stating with T",
              description: "We've got in few places at the moment you can start my clicking T"
            }
          }
        ]
      });
      driverObj.drive();
    }
    run();
    document.querySelector("#whirl-btn").addEventListener("click", run);
  </script>
</BaseLayout>