---
import BaseLayout from "../../../layouts/base.astro";
import doAuth from "../../../lib/actions/do-auth.js";
import Navbar from "../../../components/navbar.astro";
import { $userData } from "../../../lib/stores/user.js";
import { resolveEditorActionFromPathname } from "../../../lib/utils/index.js";
import WordEditor, { SubmitButton as WordEditorSubmitButton } from "../../../components/islands/word-editor.jsx";

const { url: { pathname }, redirect } = Astro;

const { isAuthed, authedData: userData } = await doAuth(Astro);
if (!isAuthed) return redirect(`/login?return_to=${encodeURIComponent(pathname)}`);
// @ts-expect-error
$userData.set(userData);

const action = resolveEditorActionFromPathname(pathname);
---

<BaseLayout 
  pageTitle="Dictionry"
  class="flex flex-col w-full min-h-screen overflow-hidden"
>
  <Navbar
    returnNav={{
      label: "Back to Jargons Editor",
      location: "/editor"
    }}
  >
    <WordEditorSubmitButton client:load />
  </Navbar>

  <main class="flex grow px-5 md:px-6 pb-4">
    <WordEditor action={action} client:load />
  </main>
</BaseLayout>
