---
import matter from "gray-matter";
import BaseLayout from "../../../layouts/base.astro";
import Navbar from "../../../components/navbar.astro";
import doAuth from "../../../lib/actions/do-auth.js";
import doEditWord from "../../../lib/actions/do-edit-word.js";
import WordEditor, { SubmitWordButton } from "../../../components/islands/word-editor.jsx";
import handleSubmitWord from "../../../lib/handlers/handle-submit-word.js";

const { url: { pathname }, redirect } = Astro;

const { isAuthed, authedData: userData } = await doAuth(Astro);
if (!isAuthed) return redirect(`/login?return_to=${encodeURIComponent(pathname)}`);

const response = await doEditWord(Astro);
const word = matter(response.content_decoded);
---

<BaseLayout 
  pageTitle="Dictionry"
  class="flex flex-col w-full min-h-screen overflow-hidden"
>
  <Navbar>
    <SubmitWordButton />
  </Navbar>

  <main class="flex grow px-5 md:px-6 pb-4">
    <WordEditor 
      isEdit 
      title={word.data.title} 
      content={word.content} 
      client:load 
    />
  </main>

  <!-- <script src="../../../lib/handlers/handle-submit-word.js"></script> -->
</BaseLayout>