---
import BaseLayout from "../../layouts/base.astro";
import WordEditor from "../../components/islands/word-editor.jsx";
---

<BaseLayout 
  pageTitle="Dictionry"
  class="flex flex-col w-full min-h-screen overflow-hidden"
>
  <nav class="flex items-center justify-between px-5 md:px-6 py-4">
    <a href="../" class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg> 
      <span>
        Back
      </span>       
    </a>
  </nav>

  <main class="flex grow px-5 md:px-6 pb-4">
    <WordEditor title={""} content={""} client:load />
  </main>
</BaseLayout>
