---
import doAuth from "../../lib/actions/do-auth";
import BaseLayout from "../../layouts/base.astro";
import Navbar from "../../components/navbar.astro";
import { $userData } from "../../lib/stores/user.js";

const { url: { pathname }, redirect } = Astro;

const { isAuthed, authedData: userData } = await doAuth(Astro);
if (!isAuthed) return redirect(`/login?return_to=${encodeURIComponent(pathname)}`);
// @ts-expect-error
$userData.set(userData);
---

<BaseLayout 
  pageTitle="Dictionry"
  class="flex flex-col w-full min-h-screen overflow-hidden"
>
  <Navbar>
    
  </Navbar>

  <main class="flex flex-col grow px-5 md:px-6 pb-4">
    <h1>
      The Jargons Editor - Your Dashboard
    </h1>
    
    <a href="/editor/new">Add New Word</a>
  </main>
</BaseLayout>
