---
import BaseLayout from "../../layouts/base.astro";
import Navbar from "../../components/navbar.astro";
import WordEditor from "../../components/islands/word-editor.jsx";
---

<BaseLayout 
  pageTitle="Dictionry"
  class="flex flex-col w-full min-h-screen overflow-hidden"
>
  <Navbar />

  <main class="flex grow px-5 md:px-6 pb-4">
    <WordEditor title={""} content={""} client:load />
  </main>
</BaseLayout>
