---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout pageTitle="Dictionary">
	<main class="flex flex-col max-w-screen-lg p-5 justify-center mx-auto min-h-screen">
    <div class="m-auto text-center space-y-6">
      <h1 class="text-5xl md:text-9xl text font-black">
        jargons.dev
      </h1>
      <p class="text-xs md:text-sm">
        A community-driven dictionary that simplifies software, engineering and tech terms for all levels.
      </p>
      <hr class="border-gray-100">
      <div class="md:text-lg">
        We're putting the finishing touches on <strong>jargons.dev</strong>. 
        <br>
        Want to join our test group? Write me a tweet <a href="https://x.com/babblebey">@babblebey</a>
      </div>
    </div>
	</main>
</BaseLayout>
