---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/base.astro";
import Search from "../components/islands/search.jsx";
import RecentSearches from "../components/islands/recent-searches.jsx";
import doAuth from "../lib/actions/do-auth.js";

const dictionary = await getCollection("dictionary");
const { isAuthed } = await doAuth(Astro);
---

<BaseLayout 
	pageTitle="Jargons.dev"
	subtitle="Simplified Meaning & Definition to Technical Terms"
	isAuthed={isAuthed}
>
	<main class="flex flex-col max-w-screen-lg p-5 justify-center mx-auto min-h-screen">
		<!-- Title -->
		<div class="mb-4 md:mb-6">
			<h1 class="relative text-5xl md:text-7xl lg:text-8xl font-black w-fit">
				<a href="/" class="absolute font-normal text-[0.6rem] md:text-xs right-0 md:top-1.5 lg:top-3">
					jargons.dev
				</a>
				Dictionary
			</h1>
		</div>
		
		<!-- Search -->
		<Search triggerSize="md" dictionary={dictionary} client:load />

		<!-- Browse words -->
		<div class="ml-2 mt-4 md:mt-6" id="whirl-browse-words">
      <a href="/browse">
        Browse Words
      </a>
    </div>

		<!-- Recent Word Look Up -->
		<div id="whirl-recent-search-wrapper">
			<RecentSearches client:load />
		</div>
	</main>

	<script>
		import { driver } from "driver.js";
		import "driver.js/dist/driver.css";

		const recentSearchWrapper = document.querySelector("#whirl-recent-search-wrapper");
		let oldWrapValue;

		document.querySelector("#whirl-btn").addEventListener("click", () => {
			const driverObj = driver({
				showProgress: true,
				steps: [
					{
						element: "#whirl-search-form",
						popover: {
							title: "The Search Trigger",
							description: "The Quickest means to search for a technical jargon or word you're seeking definitions for",
						},
					},
					{
						element: "#whirl-browse-words",
						popover: {
							title: "Browse all words",
							description: "Here's a link to the page where you get the option to browse all words, only Alphabetically at the moment though",
							onNextClick: () => {
								oldWrapValue = recentSearchWrapper.innerHTML;
								recentSearchWrapper.innerHTML =	`
									<div class="space-y-3 mt-4 md:mt-6" id="whirl-recent-searches">
										<h2 class="text-2xl md:text-4xl font-black">Recent</h2>
										<ol class="space-y-1.5 underline">
											<li><a href="/browse/tuple">Tuple</a></li>
											<li><a href="/browse/concatenate">Concatenate</a></li>
										</ol>
									</div>
								`;
								driverObj.moveNext();
							}
						}
					},
					{
						element: "#whirl-recent-searches",
						popover: {
							title: "Recent Searches",
							description: "Assuming you've done a search, this section lists the last 5 jargon you searched on the jargons.dev, the data is held in your browser's local storage",
							onPrevClick: () => {
								recentSearchWrapper.innerHTML = oldWrapValue;
								driverObj.movePrevious();
							},
							onNextClick: () => {
								recentSearchWrapper.innerHTML = oldWrapValue;
								driverObj.moveNext();
							}
						},
					},
					{
						element: "#whirl-browse-words",
						popover: {
							title: "Let's browse some words, shall we!?",
							description: "Click on the highlighted link <br><br> <b>OR</b> <br><br> Close this (click 'done' on popup) and use the Search form; type in <b>T</b> and that shoudl pop some few existing words 😉"
						}
					}
				]
			});
			driverObj.drive();
		});
	</script>
</BaseLayout>
