---
import JargonsdevLogo from "./jargonsdev-logo.astro";

const { returnNav = { label: "Back", location: "../" } } = Astro.props;
---

<nav
  class="@container sticky top-0 z-40 bg-white flex items-center justify-between px-5 md:px-6 py-4"
>
  <div class="flex items-center space-x-4 md:space-x-6">
    <a
      href={returnNav.location}
      class="flex items-center w-6 h-6 justify-center bg-none hover:bg-black text-black hover:text-white rounded-full border border-black/60 transition-color ease-in-out duration-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="currentColor"
        class="w-4 h-4 mx-auto @md:mx-0"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        >
        </path>
      </svg>
      <span class="sr-only">
        {returnNav.label}
      </span>
    </a>
    <a href="/" class="block">
  <JargonsdevLogo class="drop-shadow drop-shadow-color-black h-10 md:h-12" />
</a>
  </div>
  <slot />
</nav>
