body {
  font-family: "Inter", sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: "IBM Plex Mono", monospace;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ebebeb transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 3px;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.temporary-bounce {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}